# Project Aegis Root gitignore

# Ignore generated test payload files
*.bin
benchmark_files/
test_files/

# Temporary files created by scripts
temp_*.bin

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Logs
*.log
